body{
	margin:0;
}

/** {cursor: none;}*/

canvas{
	top:0;
	position:absolute;
	z-index:100;
	width: 100%;
	height:100%;		
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#182130, #001101);
}

.menu{
	position: absolute;
	display:flex;
	justify-content: center;
	z-index:110;

	width:100%;
	height:100%;
	text-align:center;
}

#play-button{

	min-height: 20%;
	max-width:50%;
	margin:auto;
	transition: all 0.5s;
	transform: scale(0.8);
}

#play-button:hover{
	transition: all 0.5s;
	transform: scale(1); 
	cursor:pointer;
}

.stats{
	width: 100%;
}
/*
#score{
	width: 50%;
}*/