body{
	margin:0;
}

/** {cursor: none;}*/

canvas{
	top:0;
	position:absolute;
	z-index:100;
	width: 100%;
	height:100%;		
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#182130, #001101);
}

.menu{
	position: absolute;
	display:flex;
	justify-content: center;
	z-index:110;

	width:100%;
	height:100%;
	text-align:center;
}

.center-image{

	min-height: 20%;
	max-width:50%;
	margin:auto;
	transition: all 0.5s;
	transform: scale(0.8);
}

.center-image:hover{
	transition: all 0.5s;
	transform: scale(1); 
	cursor:pointer;
}

.stats{

	position:absolute;
	padding:2em;

	z-index: 110;
	width: 100%;
}


.progress{
	width: 20%;
	height: 40px;
	margin: auto 0px;
}

.line{
	display:flex;
	align-items: middle;
}

.label{
	display:block;
	font-size:0.9em;
	color: #ffeeee;
	vertical-align: middle;
	text-align:center;
	font-family: "Press Start 2P";
	padding:1em ;

}

#health-container{
	margin-left:auto;
}

